@font-face {
    font-family: Norse-Bold;
    src: url(Norse-Bold.otf);
}
* {
    margin: 0;
    padding: 0;
  }

.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
}

.left-split{
    flex: 1;
    
}

.splash{
    position: relative;
    width: 31vw;
    height: 100vh;
    background-image: url("splash.avif");
    background-repeat: no-repeat;
    background-size: cover;
}

.right-split{
    flex: 1;
}

.logo{
    display: flex;
    background-color: rgba(0, 0, 0, .5);
    position: relative;
    bottom: 1050px;
    width: 31vw;
    height: 200px;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: Norse-Bold;
    font-size: 70pt;
}

.odin-logo {
    max-width: 15%;
    height: auto;
}